/* mobile.css */
@import url(reset.css);

/* font */
@font-face {
   font-family: GM_l;
   src: url(../font/GmarketSansLight.otf); }
   
@font-face {
font-family: GM_m;
src: url(../font/GmarketSansMedium.otf); }

@font-face {
font-family: GM_b;
src: url(../font/GmarketSansBold.otf); }

@font-face {
   font-family: MG;
   src: url(../font/malgun.ttf); }

body { font-family: 'GM_m', '맑은 고딕'; font-size: 16px; color: #fff; background: #000;
   overflow-x: hidden;  overflow-y: hidden; cursor: none; box-sizing: border-box; }
/* body.night {  } */

a { color: #fff; text-decoration: none; }
a:hover, a:focus { cursor: none; }

/* cursor */
.cursor { z-index: 9999; width: 2%; aspect-ratio: 1/1; border-radius: 100%; position: fixed; 
   transform: translate(calc(-50% + 15px), -50%); pointer-events: none; transition: width .3s, height .3s; filter: blur(4px); 
   background: radial-gradient(50% 50% at 50% 50%, #E1E429 44.79%, rgba(234, 236, 107, 0.76) 83.85%); }

.hover { width: 4%; aspect-ratio: 1/1; }
.hover::after { display: flex; content : ""; align-items: center; justify-content: center; width: 100%; height: 100%;
   color: #525252; font-size: 1vw; text-align: center; text-transform: uppercase; font-family: "GM_b"; }

/* bg_video */
.bg_video { z-index: -1; position: fixed; width: 90%; height: 100%; top: 0; left: 50%; transform: translate(-50%); opacity: 70%; }

@media (max-width: 768px){

/* layout */
html { font-size: 16px; scroll-behavior: smooth; }
#header { z-index: 90; position: fixed; left: 0; top: 0; width: 100%;
   /* height: 60px; */
   height: 5vh; margin-top: 30px; }
   .header_inner { display: flex; justify-content: flex-start; padding: 0 3.5vh; }

#container { width: 100%; height: 100%; }
   section.profile { position: relative; width: 100%; height: 100vh; overflow: hidden; }
   section.pub { position: relative; width: 100%; height: 100%; }
      .pub_inner { position: absolute; left: 50%; top: 12%; transform: translateX(-50%); width: 60vw; height: 76.2vh; padding: 4vh;
         background: rgba(38, 38, 38, 0.80); border-radius: 24px; }
      .pub_frame { overflow: hidden; z-index: 10; position: relative; width: 100%; height: 100%; transition: left 0.6s ease-in-out; }
      .work_wrap { position: relative; display: flex; justify-content: flex-start; transition: left 0.6s ease-in-out; width: 300%; height: 100%; }
      
   section.design { position: relative; width: 100%; height: 100%; }
      .design_inner { position: absolute; left: 50%; top: 12%; transform: translateX(-50%); width: 60vw; height: 76.2vh; padding: 4vh;
         background: rgba(38, 38, 38, 0.80); border-radius: 24px; display: flex; flex-direction: column; gap: 60px; }


#contact { position: relative; }
   section.contact { width: 100%; height: 100%; display: flex; flex-direction: column; }


/* 모바일 / 태블릿 햄버거 버튼 */
.minBtn { display: block; width: 7%; float: left; margin-left: auto; padding-top: 4px; }
.minBtn.on { display: none; }
.minBtn > a { display: block; text-indent: -9999px; overflow: hidden; width: 40px; height: 40px;
   background: url(../images/icon_ham_open.png) no-repeat 0 0; }

/* 모바일 / 태블릿 메뉴 전체보기 */
.minBtn_box { display: none; }
.minBtn_box > .minBtn_close { display: none; }
.minBtn_box.on { 
   z-index: 100;
   display: block; position: fixed; left: 0; top: 0; width: 100vw; height: 100vh; background: #000; }

/* 메뉴 전체보기 닫기버튼 */
.minBtn_box.on > .minBtn_close { display: block; width: 90%; height: 5vh; margin-top: 30px; padding: 0 3vh; }
.minBtn_box.on > .minBtn_close > a { display: block; float: inline-end; text-indent: -9999px; overflow: hidden;
   width: 40px; height: 40px; margin-top: 4px;
   background: url(../images/icon_ham_close.png) no-repeat 0 0; }

/* minBtn_nav */
.minBtn_nav { width: 100vw; height: 100vh; font-size: 2.2rem; font-family: GM_b; }
.minBtn_nav > ul { height: 86vh; display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 68px;  }
.minBtn_nav > ul > li { line-height: 46px; }

.minBtn_nav > ul > li > a { position: relative;  }
.minBtn_nav > ul > li > a::after { content: ""; position: absolute; left: 0%; bottom: -8px; width: 100%; border: 3px solid #e1e429; transform: scaleX(0); transform-origin: left; 
   transition: transform 400ms cubic-bezier(0.770, 0.000, 0.175, 1.000) 0s; }
.minBtn_nav > ul > li:hover > a::after { transform: scaleX(1); }


/* 메인 로고 */
/* name */
.name_info { width: 45vw; display: flex; flex-wrap: wrap; }
.name_info div { width: 100%; overflow: hidden; }
.name_info div span { display: none; line-height: 5vh; }

.name_event span.on { display: block; animation: textIn 0.5s ease; }
.name_event span.off { display: block; animation: textOut 0.5s ease; }
@keyframes textIn {
   0% { transform: translateY(100%); }
   100% { transform: translateY(0%); }
}
@keyframes textOut {
   0% { transform: translateY(0%); }
   100% { transform: translateY(-100%); }
}

/* 주메뉴 */
nav.gnb { display: none; }
/* // header */


/* container */
/* content1_home */
.home > h2 { position: absolute; width: 100%; top: 45%; text-align: center; font-size: 3.4rem; font-family: 'GM_b' }

/* 스크롤 아이콘 */
.scroll_event { position: absolute; bottom: 5%; left: 50%; transform: translate(-50%); }
.scroll_event > p { position: relative; margin: 0 auto; 
   width: 34px; height: 60px; border: 2px solid #fff; border-radius: 50px; 
   text-indent: -9999px; overflow: hidden; }
.scroll_event > p::after { display: block; clear: both; content: ""; 
   position: relative; top: 2px; left: 15px; width: 6px; height: 6px; background: #fff; border-radius: 50%;
   animation: drop 1.5s linear infinite; }

@keyframes drop {
   0% { top: -2px; }
   50% { top: 10px;  }
   100% { top: -2px;  }
}


/* content2_profile */
/* textbox */
.textbox { position: relative; width: 60vw; height: 76.2vh; top: 55%; transform: translateY(-50%); margin: 0 auto;
   padding: 3vh 4vh;
   display: flex; flex-direction: column; background: rgba(38, 38, 38, 0.80); border-radius: 24px;  }

/* textbox_left */
.textbox_left { position: relative; width: 100%; display: flex; flex-direction: column; gap: 12px; }

.box_01 { width: 100%; display: flex; justify-content: center; align-items: center; gap: 18px; }
.profile_img { width: 140px; flex-shrink: 0; }

/* info */
.info { width: 100%; }
.info > p { font-size: 1rem; font-family: 'GM_b'; line-height: 20px; }
.info > p > span { color: #e1e429; }

.info_hashi { width: 100%; display: flex; flex-direction: column; align-items: flex-start; gap: 6px; margin-top: 10px; }
.info_hashi > li { padding: 4px 8px; gap: 4px; border-radius: 64px; background: #e1e429; color: #383838;
   font-size: 0.8rem; font-family: 'GM_b'; }

.textbox_left > p.info_txt { width: 100%; padding: 20px 0 20px; line-height: 160%; font-family: 'GM_m'; font-size: 0.88rem;
   color: #a0a0a0; text-shadow: 0px 0px 45px rgba(0, 0, 0, 0.5); }
.textbox_left > p.info_txt > span { color: #e1e429; }
   
/* textbox_right */
.textbox_right { width: 100%; }
.textbox_right > .skills { display: flex; flex-direction: column; gap: 28px; }

.skills > li > dl.skills_L { display: inline-flex; flex-direction: column; align-items: flex-start; gap: 14px; }
.skills > li > dl > dt > ul.skills_title { display: flex; justify-content: flex-start; gap: 14px; }

.skills > li > dl > dt > ul.skills_title > li:nth-of-type(1) { text-indent: -9999px; overflow: hidden; width: 24px; height: 22px;
   background: url(../images/icon_check2.png) no-repeat 0 0; background-size: cover; padding-top: 12px; }
.skills > li > dl > dt > ul.skills_title > li:nth-of-type(2) { height: 30px; line-height: 43px; color: #e1e429;  font-family: 'GM_b'; font-size: 1.2rem; }
.skills > li > dl > dd { color: #fff; font-family: 'GM_m'; font-size: 0.8rem; }

.skills_S > dd { text-indent: -9999px; overflow: hidden; margin-top: 20px; }
.skills_S > dd > ul { display: flex; align-items: flex-start; gap: 14px }
.skills_S > dd > ul > li { width: 20px; height: 20px; background: url(../images/icon_tool2.png) no-repeat 0 0; }

/* 각각의 아이콘 삽입 */
.skills_S > dd > ul > li:nth-of-type(2) { background-position-x: -20px; }
.skills_S > dd > ul > li:nth-of-type(3) { background-position-x: -40px; }
.skills_S > dd > ul > li:nth-of-type(4) { background-position-x: -60px; }
.skills_S > dd > ul > li:nth-of-type(5) { background-position-x: -80px; }
.skills_S > dd > ul > li:nth-of-type(6) { background-position-x: -100px; }


/* content3_publishing */
.work_wrap div { position: relative; flex: 1; }

.work_wrap .work_textbox { display: flex; flex-direction: column; gap: 14px; padding: 0 5px; width: 100%; }
.work_textbox > h3 { color: #a0a0a0; font-size: 2rem; font-family: 'GM_b'; }
.work_textbox > .work_hashi > span { display: inline-flex; justify-content: center; align-items: center; padding: 8px 20px; height: 24px;
   color: #333; font-family: 'GM_b'; border-radius: 1074px; background: #e1e429; font-size: 0.82rem; }

/* 브랜드 color */
.work_wrap > div:nth-of-type(1) .work_hashi > span { background: #8dc63f; }
.work_wrap > div:nth-of-type(2) .work_hashi > span { background: #882579; color: #ddd; }

.work_textbox > h4 { margin-top: 258px; font-size: 1.875rem; font-family: 'GM_b'; }
.work_textbox > p { font-family: 'GM_m'; line-height: 22px; font-size: 0.84rem; }
.work_textbox > ul:nth-of-type(1) { padding-left: 0.6vw; list-style: disc; list-style-position: inside; line-height: 22px; color: #a0a0a0; font-size: 0.8rem; }

/* work_info */
.work_textbox > .work_info { display: flex; flex-direction: column; }
.work_info > dl { display: flex; justify-content: flex-start; gap: 30px; line-height: 28px; font-size: 0.84rem; }
.work_info > dl > dd > ul { display: flex; align-items: flex-start; gap: 10px; text-indent: -9999px; overflow: hidden; }
.work_info > dl > dd > ul > li { width: 20px; height: 20px; background: url(../images/icon_tool2.png) no-repeat 0 0; }

/* 각각의 아이콘 삽입 */
.work_info > dl > dd > ul > li:nth-of-type(2) { background-position-x: -20px; }
.work_info > dl > dd > ul > li:nth-of-type(3) { background-position-x: -40px; }
.work_info > dl > dd > ul > li:nth-of-type(4) { background-position-x: -80px; }
.work_info > dl > dd > ul > li:nth-of-type(5) { background-position-x: -100px; }

.work_textbox > ul:nth-of-type(2) { display: flex; flex-direction: column; justify-content: center; gap: 14px; margin-top: 20px; gap: 20px; }
.work_textbox > ul:nth-of-type(2) > li { width: 50vw;; padding: 10px 20px; border: 1px solid #fff; border-radius: 8px; text-align: center; font-size: 0.8rem; }
.work_textbox > ul:nth-of-type(2) > li:hover { background: #e1e429; border: 1px solid #e1e429; }
.work_textbox > ul:nth-of-type(2) > li:hover > a { color: #333; }

/* 브랜드 color */
.work_wrap > div:nth-of-type(1) ul:nth-of-type(2) > li:hover { background: #8dc63f; border: 1px solid #8dc63f; }
.work_wrap > div:nth-of-type(2) ul:nth-of-type(2) > li:hover { background: #882579; border: 1px solid #882579; }
.work_wrap > div:nth-of-type(2) ul:nth-of-type(2) > li:hover a { color: #ddd; }

/* work_wrap > mockup */
.work_wrap > div > .mockup { position: absolute; top: 6vh; left: 4vw;
   width: 52vw; height: 29.6vh; text-indent: -9999px; overflow: hidden; }

/* 각각의 목업 이미지 삽입  + 위치 */
.work_wrap > div:nth-of-type(1) > .mockup { background: url(../images/mockup_min_pulmuone.png) no-repeat 0 50%; background-size: contain; }
.work_wrap > div:nth-of-type(2) > .mockup { background: url(../images/mockup_min_cjone.png) no-repeat 0 50%; background-size: contain; }
.work_wrap > div:nth-of-type(3) > .mockup { background: url(../images/mockup_min_portfolio.png) no-repeat 0 50%; background-size: contain; }

/* pub arrow */
.pagenation { position: absolute; z-index: 20; left: 50%; transform: translateX(-50%); bottom: 6vh; display: flex; gap: 30px; }

.pagenation > a { width: 25px; height: 20px; background: url(../images/icon_arrow.png) no-repeat 0 0; text-indent: -9999px; overflow: hidden; }
.pagenation > a.next { background-position-x: -25px; }
.pagenation > a.on { opacity: 0; pointer-events: none; }

.pagenation > ul { display: flex; justify-content: flex-start; gap: 20px; padding-top: 3px; }

.slide_roll li { width: 14px; height: 14px; border-radius: 20px; text-indent: -9999px; overflow: hidden; background: #a0a0a0; }
.slide_roll li.on { background: #e1e429; }

/* w3c 접근성 결과 페이지 */
.verification > div { z-index: 30; position: absolute; left: 0; top: 4%; width: 100%; height: 96%; background: #000;
   display: flex; flex-direction: column; justify-content: center; transform: translateX(100%); transition: transform 0.6s ease; } 
.verification > div.on { transform: translateX(0);}

.verification > div > h2 { width: 100%; display: flex; padding-left: 60px; align-items: center; gap: 20px; white-space: nowrap; font-family: GM_b; font-size: 2rem; line-height: 88px; }
.verification > div > h2 > a { display: block; width: 43px; height: 40px; }
.verification > div > h2 > a > img { vertical-align: top; }

/* tab_menu */
.tab_menu { margin: 0 auto; width: 94%; display: flex; gap: 10px; font-size: 1rem; font-family: GM_m; }
.tab_menu > li { flex: 1; line-height: 30px; padding: 8px 6px; border-radius: 50px; text-align: center; }
.tab_menu > li.on { background: #e1e429; }
.tab_menu > li.on > a { color: #383838; }

/* 브랜드 color */
.verification > div:nth-of-type(1) .tab_menu > li.on { background: #8dc63f; }
.verification > div:nth-of-type(3) .tab_menu > li.on { background: #882579; }
.verification > div:nth-of-type(3) .tab_menu > li.on > a { color: #ddd; }


/* veri_wrap */
.veri_wrap { display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 30px; 
   width: 72vw; height: 60vh; margin: 0 auto; padding: 20px 0; }
.veri_wrap > .veri_result { width: 100%; max-width: 1000px; }

.veri_result > li { width: 100%; display: none; }
.veri_result > li.on { display: block; }
.veri_result img { display: block; }


/* content4_design */
/* design_content */
.design_content { position: relative; width: 34%; }
.design_content > h3 { color: #a0a0a0; font-size: 2.6rem; font-family: 'GM_b'; }

/* swiper */
.swiper { width: 88%; height: 88%; display: flex; justify-content: center;}
.swiper-slide { position: relative; width: 300px; height: 450px; overflow: hidden; }
.swiper-slide img { display: block; width: 100%; }

/* H: 780px 기준으로 측정 */
/* 각각의 width 값 입력 */
.slide_num3 > img { width: 50vw; }
.slide_num4 > img { width: 40vw; margin: 0 auto; }
.slide_num5 > img { width: 40vw; margin: 0 auto; }
.slide_num6 > img { width: 40vw; margin: 0 auto; }
.slide_num7 > img { width: 40vw; margin: 0 auto; }

/* 상세페이지 자세히보기 버튼 */
.swiper-slide > .detail_btn { display: none;
   position: absolute; left: 50%; top: 50%; transform: translate(-50%);
   font-size: 14px; padding: 2vw 6vw; border-radius: 8px; background: rgba(0, 0, 0, 0.5); }
.swiper-slide:nth-of-type(7)  > .detail_btn { top: 30%; }
.slide_detail:hover > .detail_btn { display: block; }
.detail_btn:hover { background: #333; }

.swiper-slide span { display: inline-block; position: absolute; top: 0; left: 0; width: 20px;
   padding: 16px 10px 28px 10px; color:#fff; text-transform: uppercase; background: #e1e429; 
   border-radius: 0  0 30px 30px; letter-spacing: 2px; font-size: 1rem; font-family: GM_b; text-align: center; }


/* 각각의 color 지정 */
.swiper-slide span.pop { background: #db7617; }
.swiper-slide span.banner { background: #e4b50a; }
.swiper-slide:nth-of-type(4) span.banner { margin-left: 24px; background: #e4b50a; }
.swiper-slide span.detail { background: #B9848C; }
.swiper-slide span.illust { background: #806491; }


/* contact */
.contact h2 { text-align: center; padding-top: 40vh; font-family: 'GM_b'; font-size: 3.4rem; }
.contact ul { display: flex; justify-content: center; gap: 80px; width: 100%; height: 3vh; line-height: 3vh; margin-top: 30vh; }
.contact ul > li { position: relative; width: 16vw; text-align: center; font-size: 0.8rem; }
.contact ul > li a { display: block; }

/* hover 시 보이는 화면 */
.contact ul > li a:hover { color: #e1e429; font-weight: bold; font-size: 1rem; transition: .3s ease-out; }

/* 각각의 hover */

/* email + phone */
.contact ul > li a::before { display: block; clear: both; content: ""; position: absolute; left: -10px; top: 0; width: 24px; height: 24px; 
   background: url(../images/icon_contact.png) no-repeat 0 0; }
.contact ul > li:nth-of-type(3) a::before { left: -18px; background-position-x: -24px; }

/* openchat */
.contact ul > li:nth-of-type(2) a::before { display: none; }
.contact ul > li:nth-of-type(2) a::after { opacity: 0; display: block; clear: both; content: ""; position: absolute; left: 10%; bottom: 140%; width: 14vw; height: 14vw;
   border-radius: 10px; background: url(../images/icon_openchat_hover.jpg) no-repeat 0 0; background-size: cover; }
.contact ul > li:nth-of-type(2) a:hover::after { opacity: 1; transition: opacity 0.4s ease-in-out; }

.contact p { width: 100%; margin: auto 0 1.4vh; display: flex; flex-direction: column; text-align: center; }
.contact p > span { display: block; width: 100%; height: 1.8vh; font-family: 'GM_m'; font-size: 0.75rem; color: #a0a0a0; }


}
